# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = glassesshop.settings

[scrapyd]
application = herokuify-scrapyd.app.application

[deploy:local]
url = https://fathomless-mountain-42665.herokuapp.com/
project = glassesshop
